<template>
	<table class="
			border-separate border-spacing-0 border border-shadow
			shadow-lg
			rounded-lg
			mt-2
		">
		<thead>
			<tr>
				<th v-for="element in headerList" :key="element" class="py-2 px-4">
					{{ element }}
				</th>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr>
				<td v-for="(element, index) in list" :key="index" class="py-2 px-4 border-t border-shadow">
					{{ element }}
				</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
export default {
	props: {
		list: Array,
		headerList: {
			type: Array,
			default: (props) => Array.from({ length: props.list.length }, (_, i) => i + 1)
		}
	}
}
</script>