<template>
	<div class="p-4 overflow-y-auto w-full">
		<h2 class="text-2x">Solution #{{ index + 1 }} - Chart view</h2>
		<line-chart :data="chartData" />
	</div>
</template>

<script>
import LineChart from './LineChart.vue';
import { generatePalette } from '../scripts/palette.js'
export default {
	components: {
		LineChart,
	},
	props: {
		data: Object,
		index: Number,
	},
	computed: {
		sol() {
			return this.data.solutions[this.index];
		},
		config() {
			return this.data.configuration;
		},
		chartData() {
			let sol = this.sol;
			let config = this.config;
			let datasets = [];
			let colors = generatePalette(sol.mh, ['#D0531E', '#11393D']);
			for (let i = 0; i < sol.mh; i++) {
				let datasetObj = {};
				datasetObj.label = `Hoist ${i + 1}`;
				datasetObj.backgroundColor = colors[i];
				datasetObj.borderColor = colors[i];
				datasetObj.data = [];
				let sortedEmptyMoves = [...sol.hoistEmptyMoves[i]].sort((a, b) => sol.t[a[0] - 1] - sol.t[b[0] - 1]);
				for (let j = 0; j < sortedEmptyMoves.length; j++) {
					let [start, end] = sortedEmptyMoves[j];
					let dataObj = {};
					dataObj.type = 'start loaded move';
					let predecessor = start == 1 ? config.N : start - 1
					dataObj.x = sol.t[start - 1] - config.r[predecessor - 1];
					dataObj.y = start == 1 ? config.N : start - 1;
					datasetObj.data.push(dataObj);
					dataObj = {};
					dataObj.type = 'start empty move';
					dataObj.x = sol.t[start - 1];
					dataObj.y = start == 1 ? config.N + 1 : start;
					datasetObj.data.push(dataObj);
					if (config.d[start - 1][end - 1] > 0) {
						dataObj = {};
						dataObj.type = 'end empty move';
						dataObj.x = sol.t[start - 1] + config.d[start - 1][end - 1];
						dataObj.y = start == config.N ? config.N + 1 : end;
						datasetObj.data.push(dataObj);
					}
				}
				datasets.push(datasetObj);
			}
			return { datasets };
		}
	},
	methods: {
		getKey(value1, value2) {
			return `${value1}->${value2}`
		}
	}
}
</script>