<template>
	<div class="p-4 overflow-y-auto w-full">
		<h2 class="text-2x">Configuration</h2>
		<h3 class="text-1x text-orange mt-6">Name</h3>
		<p class="font-bold">{{ config.name }}</p>
		<h3 class="text-1x text-orange mt-6">Number of tanks</h3>
		<p class="font-bold">{{ config.N }}</p>
		<h3 class="text-1x text-orange mt-6">Lower bound in soaking time</h3>
		<array :list="config.m" />
		<h3 class="text-1x text-orange mt-6">Upper bound in soaking time</h3>
		<array :list="config.M" />
		<h3 class="text-1x text-orange mt-6">Loaded move duration</h3>
		<array :list="config.r" />
		<h3 class="text-1x text-orange mt-6">Empty tank move time</h3>
		<custom-table :matrix="config.d" />
	</div>
</template>

<script>
import Array from "./Array.vue"
import CustomTable from "./CustomTable.vue"
export default {
	components: {
		Array,
		CustomTable,
	},
	props: {
		data: Object
	},
	computed: {
		config() {
			return this.data.configuration;
		}
	}
}
</script>