<template>
	<table
		class="
			border-separate border-spacing-0 border border-shadow
			shadow-lg
			rounded-lg
			mt-2
		"
	>
		<thead>
			<tr>
				<th v-for="i in length + 1" :key="i" class="py-2 px-4">
					{{ i == 1 ? "_" : i - 1 }}
				</th>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr v-for="i in length" :key="i">
				<td
					v-for="j in length + 1"
					:key="j"
					class="py-2 px-4 border-t border-shadow"
					:class="{ 'font-bold': j == 1 }"
				>
					{{ j == 1 ? i : matrix[i - 1][j - 2] }}
				</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
export default {
    props: {
        matrix: Array,
    },
    computed: {
        length() {
            return this.matrix[0].length;
        }
    }
}
</script>