<template>
	<div class="border border-shadow shadow-lg rounded-lg mt-2 flex w-fit">
		<p v-for="element in list" :key="element" class="py-2 px-4">
			{{ element }}
		</p>
	</div>
</template>

<script>
export default {
    props: {
        list: Array,
    }
}
</script>