<template>
    <div class="p-4 overflow-y-auto w-full">
        <h2 class="text-2x">Solutions</h2>
        <div class="flex flex-wrap gap-8 mt-6">
            <div v-for="(solution, i) in data.solutions" class="cursor-pointer p-4 border shadow-lg rounded-lg"
                :class="{ 'border-shadow': index != i, 'border-green': index == i }" @click="$emit('updateIndex', i)">
                <h3 class="text-orange font-bold">Solution #{{ i + 1 }}</h3>
                <p>Hoists: {{ solution.mh }}</p>
                <p>Period: {{ solution.period }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: Object,
        index: Number,
    },
    emits: ['updateIndex']
}
</script>