<template>
	<div class="p-4 overflow-y-auto w-full">
		<h2 class="text-2x">Solution #{{ index + 1 }}</h2>
		<h3 class="text-1x text-orange mt-6">Chromosome</h3>
		<simple-array :list="sol.chromosome" />
		<h3 class="text-1x text-orange mt-6">Number of hoists</h3>
		<p class="font-bold">{{ sol.mh }}</p>
		<h3 class="text-1x text-orange mt-6">Period of the cycle</h3>
		<p class="font-bold">{{ sol.period }} s</p>
		<h3 class="text-1x text-orange mt-6">Hoists moves</h3>
		<p class="mt-2">* Empty moves are underlined *</p>
		<div v-for="(moves, i) in sol.hoistMoves" :key="i">
			<p class="font-bold mt-4">Hoist {{ i + 1 }}</p>
			<div class="flex flex-wrap">
				<p class="mr-6 mt-2 border-green" v-for="(move, j) in moves" :key="j" :class="{ 'border-b': j % 2 == 1 }">
					{{ move[0] }} -> {{ move[1] }}
				</p>
			</div>
		</div>
		<h3 class="text-1x text-orange mt-6">Empty moves starting time</h3>
		<custom-array :list="sol.t" :headerList="emptyMovesHeader" />
		<h3 class="text-1x text-orange mt-6">Variable b</h3>
		<custom-array :list="sol.b" :headerList="range(1, sol.b.length)" />
		<h3 class="text-1x text-orange mt-6">Variable a</h3>
		<div v-for="i in sol.mh">
			<p class="font-bold mt-4">Hoist {{ i }}</p>
			<custom-array :list="sol.a[i - 1]" :headerList="range(1, sol.a[i - 1].length)" />
		</div>
		<h3 class="text-1x text-orange mt-6">Variable y</h3>
		<custom-table :matrix="sol.y" />
	</div>
</template>

<script>
import SimpleArray from './SimpleArray.vue';
import CustomArray from './Array.vue';
import CustomTable from "./CustomTable.vue"
export default {
	components: {
		SimpleArray,
		CustomArray,
		CustomTable,
	},
	props: {
		data: Object,
		index: Number,
	},
	computed: {
		sol() {
			return this.data.solutions[this.index];
		},
		emptyMovesHeader() {
			return Array.from({ length: this.sol.t.length }, (_, i) => `${i + 1}->${this.sol.emptyMovesLookup[i + 1]}`);
		}
	},
	methods: {
		range(min, max) {
			return Array.from({ length: max - min + 1 }, (_, i) => min + i)
		}
	}
}
</script>