@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Poppins";
        src: url(./fonts/Poppins/Poppins-Regular.ttf);
        font-weight: 400;
    }

    @font-face {
        font-family: "Poppins";
        src: url(./fonts/Poppins/Poppins-Medium.ttf);
        font-weight: 500;
    }

    :root {
        font-size: 16px;
    }

    html {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    *:focus,
    *:focus-visible,
    *:focus-within {
        outline: none;
    }

    /*
      Josh's Custom CSS Reset
      https://www.joshwcomeau.com/css/custom-css-reset/
    */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    html,
    body {
        height: 100%;
    }

    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    #app {
        isolation: isolate;
        height: 100%;
        width: 100%;
    }
}