<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		:width="width"
		:height="height"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		fill="none"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<path stroke="none" d="M0 0h24v24H0z" fill="none" />
		<line x1="4" y1="19" x2="20" y2="19" />
		<polyline points="4 15 8 9 12 11 16 6 20 10" />
	</svg>
</template>

<script>
export default {
    props: {
        width: Number,
        height: Number,
    }
}
</script>