
<template>
	<div v-if="data === null" class="
			w-full
			h-full
			flex
			items-center
			justify-center
			text-white
			bg-green
		" @dragover.prevent="highlight = true" @dragleave.prevent="highlight = false" @drop.prevent="dropFile">
		<div class="flex flex-col items-center justify-center text-1x">
			<p class="p-1">Drag the JSON file here</p>
			<p class="p-1">Or</p>
			<label for="file-picker" class="bg-orange cursor-pointer p-1">Pick it from here</label>
			<input id="file-picker" type="file" @change="pickFile" class="hidden" />
		</div>
	</div>
	<div v-else class="w-full h-full flex text-green bg-white">
		<nav class="h-full p-2 flex-shrink-0">
			<div class="
					flex flex-col
					h-full
					p-2
					rounded-lg
					border border-shadow
					shadow-lg
				">
				<configuration-icon :width="35" :height="35" class="stroke-green mx-2 my-3 cursor-pointer" :class="{
						'stroke-orange': activeSection == 'Configuration',
					}" @click="activeSection = 'Configuration'" />
				<list-icon :width="35" :height="35" class="stroke-green mx-2 my-3 cursor-pointer" :class="{
						'stroke-orange': activeSection == 'Solutions',
					}" @click="activeSection = 'Solutions'" />
				<solution-icon :width="35" :height="35" class="stroke-green mx-2 my-3 cursor-pointer" :class="{
						'stroke-orange': activeSection == 'Solution',
					}" @click="activeSection = 'Solution'" />
				<chart-icon :width="35" :height="35" class="stroke-green mx-2 my-3 cursor-pointer" :class="{
						'stroke-orange': activeSection == 'ChartView',
					}" @click="activeSection = 'ChartView'" />
				<reload-icon :width="35" :height="35" class="stroke-green mx-2 my-3 cursor-pointer" @click="data = null" />
			</div>
		</nav>

		<keep-alive>
			<component :is="activeSection" :data="data" :index="index" @updateIndex="(i) => index = i"></component>
		</keep-alive>
	</div>
</template>

<script>
import ConfigurationIcon from './components/icons/ConfigurationIcon.vue';
import ListIcon from './components/icons/ListIcon.vue'
import SolutionIcon from './components/icons/SolutionIcon.vue';
import ChartIcon from './components/icons/ChartIcon.vue';
import ReloadIcon from './components/icons/ReloadIcon.vue';
import Configuration from './components/Configuration.vue';
import Solution from './components/Solution.vue';
import Solutions from './components/Solutions.vue';
import ChartView from './components/ChartView.vue';
export default {
	components: {
		ConfigurationIcon,
		ListIcon,
		SolutionIcon,
		ChartIcon,
		ReloadIcon,
		Configuration,
		Solutions,
		Solution,
		ChartView,
	},
	data() {
		return {
			data: null,
			index: 0,
			highlightDrop: false,
			activeSection: 'Configuration'
		}
	},
	methods: {
		pickFile(event) {
			const file = event.target.files[0];
			if (file.type !== "application/json") {
				console.error('Error');
			} else {
				this.parseFile(file);
			}
		},
		dropFile(event) {
			this.highlightDrop = false;
			const file = event.dataTransfer.files[0];
			if (file.type !== "application/json") {
				console.error('Error');
			} else {
				this.parseFile(file);
			}
		},
		parseFile(file) {
			const reader = new FileReader();
			reader.onload = (e) => {
				this.data = JSON.parse(e.target.result);
				console.log(this.data);
			};
			reader.readAsText(file);
		}
	}
}
</script>
